# ENV
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Secrets
*.env
local_settings.py
*.secret
*.key

# Database
*.sqlite3
*.db
cache/

# Media
media/

# Static
staticfiles/

# Logs
*.log

# Temp
*.swp
*.swo
*~

# IDE
.idea/
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db