{% load static %}
{% load cart_tags %}

{% user_cart request as cart %}

<div class="bg-white w-auto rounded p-4 d-flex flex-column align-items-center justify-content-center">
    <h3 class="text-center mb-4">Cart</h3>
    <div class="container" id="cart-items-container">
        {% for cart_products in cart %}
            <div class="card mb-3 text-bg-light shadow-lg">
                <div class="card-header">
                    <h5 class="card-title">{{ cart_products.product.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row text-center">
                            <div class="col p-0">
                                <div class="input-group d-flex align-items-center justify-content-center">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-dark btn-sm decrement" style="width: 50px;"
                                            data-cart-id="" data-cart-change-url="">-</button>
                                    </span>
                                    <div style="flex: none; margin: 0 5px;">
                                        <input type="text" class="form-control number m-1 rounded"
                                               style="width: 50px;" value="{{ cart_products.quantity }}" readonly>
                                    </div>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-dark btn-sm increment" style="width: 50px;"
                                            data-cart-id="" data-cart-change-url="">+</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col p-0">
                                <p>x {{ cart_products.product.sell_price }} = </p>
                            </div>
                            <div class="col p-0"><strong>{{ cart_products.products_price }} {{ CURRENCY }}</strong></div>
                            <div class="col p-0">
                                <a href={% url 'cart:cart_remove' %} class="remove-from-cart" data-cart-id="">
                                    <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"
                                        alt="Catalog Icon" width="16" height="16">
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}


        <div class="card mb-3 shadow-lg">
            <div class="card-footer">
                <p class="float-left">Summ <strong>{{ cart.total_quantity }}</strong> product(s) for summ</p>
                <h4 class="float-left"><strong>{{ cart.total_price }} {{ CURRENCY }}</strong></h4>
            </div>
        </div>
    </div>
    {% if cart %}
        <a class="btn btn-dark" href="orders/create_order.html">
            Place order
        </a>
    {% endif %}
</div>