{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="d-flex align-items-center justify-content-center mt-1">
        <div class="col-lg-10">
            <!-- content -->
            <div class="row">
                <!-- filters -->
                {% include "includes/sort.html" %}

                <!-- goods -->
                {% if request.GET.q %}
                    <div class="mt-5 bg-white custom-shadow p-2 d-flex align-items-center justify-content-center fw-bold">
                        <p>Search Results</p>
                    </div>
                {% endif %}

                {% for product in goods %}
                    {% include "goods/includes/product_card.html" with product=product %}
                {% empty %}
                    <div class="mt-5 bg-white custom-shadow p-2 rounded d-flex align-items-center justify-content-center" style="height: 150px;">
                        <p>No products found</p>
                    </div>
                {% endfor %}
            </div>

            <!-- pagination -->
            {% include "includes/pagination.html" with page_objects=goods page_url_name='goods:catalog' slug_url=slug_url %}
        </div>
    </div>
</div>
{% endblock %}