{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="row mt-1">
        <div class="col-lg-10">
            <!-- content -->
            <div class="row">
                <!-- filters -->
                <div class="dropdown mb-2">
                    <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Filters
                    </button>

                    <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
                            <input type="hidden" name="q" value="request.GET.q">
                            <label class="form-check-label" for="flexCheckDefault">
                                Sale
                            </label>
                        </div>
                        <p class="text-white mx-3 mt-3">Sort:</p>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                By default
                            </label>
                        </div>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Low to high
                            </label>
                        </div>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
                            <label class="form-check-label" for="flexRadioDefault3">
                                High to low
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mx-3 mt-3">Apply</button>
                    </form>
                </div>

                <!-- goods -->
                {% for product in goods %}
                    {% include "includes/product_card.html" with product=product %}
                {% empty %}
                    <div class="mt-5 bg-white custom-shadow p-2 rounded">
                        <p>No products found</p>
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            {% include "includes/pagination.html" with page_objects=goods page_url_name='goods:catalog' slug_url=slug_url %}
        </div>
    </div>
</div>
{% endblock %}