{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="row mt-1">
        <div class="col-lg-10">
            <!-- content -->
            <div class="row">
                <!-- filters -->
                {% include "includes/sort.html" %}

                <!-- goods -->
                {% for product in goods %}
                    {% include "includes/product_card.html" with product=product %}
                {% empty %}
                    <div class="mt-5 bg-white custom-shadow p-2 rounded">
                        <p>No products found</p>
                    </div>
                {% endfor %}
            </div>

            <!-- pagination -->
            {% include "includes/pagination.html" with page_objects=goods page_url_name='goods:catalog' slug_url=slug_url %}
        </div>
    </div>
</div>
{% endblock %}