{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block content %}
<div class="container">
    <div class="d-flex align-items-center justify-content-center mt-1">
        <div class="col-lg-10">
            <!-- Content -->
            <div class="row">
                <div class="container mt-5">
                    <div class="row">
                        <!-- Profile and Cart in one row -->
                        <div class="col-md-6">
                            {% include 'user/includes/user-profile-form.html' %}
                        </div>
                        <!-- Cart -->
                        <div class="col-md-6">
                            {% include 'cart/includes/cart.html' %}
                        </div>
                    </div>
                    <!-- Orders-->
                    <div class="row">
                        {% include "user/includes/user-orders.html" with orders=orders %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}