{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">

    {% block css %}

    {% endblock %}
    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">
    <title>{{ title }}</title>
</head>

<body class="min-vh-100">
    {% include "includes/header.html"%}

    <main class="flex-grow-1 position-relative">
        {% include "includes/notifications.html" %}

        <div class="container">
            <div class="row mt-1 position-fixed z-3">
                {% include "cart/includes/cart_modal.html"%}
            </div>
        </div>

        <div class="container">
            <div class="d-flex align-items-center justify-content-center mt-1">
                <div class="col-lg-10">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>

    {% include "includes/footer.html"%}

    <script src="{% static "deps/js/script.js" %}"></script>
    <script src="{% static "deps/js/cart.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
</body>

</html>