{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block content %}
    <div class="flex-column d-flex">
        <h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
        <div class="d-flex align-items-center justify-content-center mt-5">
            <img class="mx-1 rounded custom-shadow" src="{% static "deps/images/furniture.jpg" %}" alt="store">
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Furniture Store</p>
        </div>
    </footer>
{% endblock %}