{% load static %}

<div class="col-lg-4 col-md-6 g-4 position-relative" aria-label="product-card">
    <div class="card rounded custom-shadow p-2 custom-card d-flex flex-column">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt={{ product.name }}>
        {% else %}
            <img src="{% static 'deps/images/Not found image.png' %}" class="card-img-top" alt={{ product.name }}>
        {% endif %}
        <div class="card-body d-flex flex-column">
            <a class="text-dark fw-bold text-decoration-none" href="{% url 'goods:product' product.slug %}">
                <p class="card-title">
                    {% autoescape off %}
                        {% if product.headline %}
                            {{ product.headline}}
                        {% else %}
                            {{ product.name|truncatechars:25 }}
                        {% endif %}
                    {% endautoescape %}
                </p>
            </a>
            <p class="card-text text-truncate">
                {% autoescape off %}
                    {% if product.bodyline %}
                        {{ product.bodyline}}
                    {% else %}
                        {{ product.description|truncatechars:50 }}
                    {% endif %}
                {% endautoescape %}
            </p>
            <p class="product_id">Product code: {{ product.display_id }}</p>
            <div class="d-flex justify-content-between align-items-center mt-auto">
                {% if product.discount %}
                    <div class="flex-column d-flex justify-content-center align-items-center">
                        <p class="mb-0"><s>{{ product.price }}</s> $</p>
                        <p class="mb-0"><strong>{{ product.sell_price }} $</strong></p>
                        <span class="badge sale-badge">Discount: {{ product.discount }} %</span>
                    </div>
                {% else %}
                    <p class="mb-0"><strong>{{ product.price }} {{ CURRENCY }}</strong></p>
                {% endif %}

                <a href="{% url 'cart:cart_add' %}" class="btn add-to-cart" data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    <img class="mx-1" src="{% static 'deps/icons/cart.svg' %}" alt="Catalog Icon" width="32" height="32">
                </a>
            </div>
        </div>
    </div>
</div>